# [10 Minutes to pandas — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/10min.html)

# Object Creation
# Viewing Data
1조: 처음~22번

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Selection
## Getting
## Selection by Label
## Selection by Position
## Boolean Indexing
## Setting
2조: 23~54번

# Missing Data
# Operations
## Stats
## Apply
## Histogramming
## String Methods
3조: 55~72번

# Merge
## Concat
## Join
## Append
4조: 73~90번

# Grouping
# Reshaping
## Stack
## Pivot Tables
5조: 91~107번

# Time Series
6조: 108~126

pandas는 리샘플링 작업을 수행하기 위해 간단하고, 강력하며 효율적인 기능을 제공한다.(예: 2차 자료를 5-minutely 데이터로 변환) 이는 재무 애플리케이션에서 매우 일반적이지만 이에 국한되지 않는다. Time Series(시계열) 섹션을 참고해라.

In [13]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [14]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [15]:
ts.resample('5Min').sum()

2012-01-01    26572
Freq: 5T, dtype: int64

시간대 표현하기 :

In [16]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')

In [17]:
ts = pd.Series(np.random.randn(len(rng)), rng)

In [18]:
ts

2012-03-06    1.007654
2012-03-07    0.602206
2012-03-08    0.281000
2012-03-09   -0.634615
2012-03-10    0.277883
Freq: D, dtype: float64

In [19]:
ts_utc = ts.tz_localize('UTC')

In [20]:
ts_utc

2012-03-06 00:00:00+00:00    1.007654
2012-03-07 00:00:00+00:00    0.602206
2012-03-08 00:00:00+00:00    0.281000
2012-03-09 00:00:00+00:00   -0.634615
2012-03-10 00:00:00+00:00    0.277883
Freq: D, dtype: float64

다른 시간대로 변환하기 :

In [21]:
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00    1.007654
2012-03-06 19:00:00-05:00    0.602206
2012-03-07 19:00:00-05:00    0.281000
2012-03-08 19:00:00-05:00   -0.634615
2012-03-09 19:00:00-05:00    0.277883
Freq: D, dtype: float64

시간 범위 표현 간의 변환 :

In [23]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')

In [24]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [25]:
ts

2012-01-31   -0.126163
2012-02-29    1.130042
2012-03-31    0.642018
2012-04-30   -1.066697
2012-05-31    2.277419
Freq: M, dtype: float64

In [26]:
ps = ts.to_period()

In [27]:
ps

2012-01   -0.126163
2012-02    1.130042
2012-03    0.642018
2012-04   -1.066697
2012-05    2.277419
Freq: M, dtype: float64

In [28]:
ps.to_timestamp()

2012-01-01   -0.126163
2012-02-01    1.130042
2012-03-01    0.642018
2012-04-01   -1.066697
2012-05-01    2.277419
Freq: MS, dtype: float64

기간과 타임 스탬프를 변환하면 편리한 산술 기능을 사용할 수 있다. 다음 예제에서는 11월에 끝나는 연말 결산의 분기 별 빈도를 다음 달 오전 9시까지 변환한다.

In [29]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')

In [30]:
ts = pd.Series(np.random.randn(len(prng)), prng)

In [31]:
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9

In [ ]:
ts.head()

# Categoricals
# Plotting
7조: 127~140

# Getting Data In/Out
## CSV
## HDF5
## Excel
# Gotchas
8조: 141~끝